{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Начало работы с CSS</title>
    <link rel="stylesheet" type="text/css" href="{% static "CSS/index.css" %}">
  </head>

  <body>
    <header>
        <div class="topnav">
            <a href="#">Зарегистрироваться</a>
            <a href="#">Войти</a>
            <a href="#">Личный кабинет</a>
            <a href="#">Новости</a>
            <a href="#">Партнеры</a>
            <a href="#">Преимущества</a>
            <a href="#">О нас</a>
        </div>
    </header>
  
  </body>
</html>
