{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Начало работы с CSS</title>
    <link rel="stylesheet" type="text/css" href="{% static "CSS/index.css" %}">
  </head>

  <body>
    <h1>Я заголовок первого уровня</h1>

    <p class="special">
      Это абзац. В нём есть <span>элемент span</span>, а также
      <a href="http://example.com">ссылка</a>.
    </p>
  
    <div class="dzeta">
        <a href="https://web.telegram.org/k/#@TeqpTellbKa">Ссыль :3</a>
        
    </div>
  
  
  </body>
</html>
